@charset "UTF-8";/* Palette 1 *//* Palette 2 *//* Palette 3 *//* Palette 4 *//* color check *//* Tipo de fuente *//* Tamaño fuente */.section-collapsible__fill {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

.section-collapsible__fill--title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.icon-title {
  padding-right: 10px;
}

.section-collapsible__fill--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-collapsible__share--title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.section-collapsible__share--end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-card {
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(pink));
  background: linear-gradient(lightblue, pink);
}

.resetbutton {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #fff;
  background: none;
}

.section-collapsible__fill {
  border: none;
}

.fill-legend {
  text-transform: uppercase;
}

.fill-input {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fill-input__image {
  color: #fff;
  display: inline-block;
  background-color: #e17334;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 140px;
}

.square__white {
  width: 30px;
  height: 30px;
  border: 1px solid #a2deaf;
  margin-left: 20px;
}

.fill-input__image__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fill-input__placeholder {
  border: 1px solid #a2deaf;
}

.cover-main__text--title {
  color: #e17334;
  font-family: "Merriweather";
  font-size: 19px;
}

.cover-main__text--p {
  color: #114e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.cover-main__list {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.footer--credit {
  color: #6b6b6b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.design-legend {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.skill {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.fill-legend {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.share-legend {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.title-div-design {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.section-collapsible__fill--form {
  color: #114e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

* {
  border: 1px solid red;
}

.design-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.palettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pallete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-palette1-color2::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #114e4e;
}

.box-palette1-color2 {
  width: 90px;
  height: 25px;
  background-color: #438792;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-palette1-color2::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #a2deaf;
}

.box-palette2-color2::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #420101;
}

.box-palette2-color2 {
  width: 90px;
  height: 25px;
  background-color: #bd1010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-palette2-color2::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #e95626;
}

.box-palette3-color2::before {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #3e5b65;
}

.box-palette3-color2 {
  width: 90px;
  height: 25px;
  background-color: #dfe5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-palette3-color2::after {
  content: '';
  width: 30px;
  height: 25px;
  background-color: #a0c0cf;
}

.wrapper {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
