<<<<<<< HEAD
@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin icontext() {
  font-family: $font-family-open;
  font-size: $font-size3-deca;
  font-weight: 400;
  text-decoration: none;
=======
@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin boxPalette($width, $colorPalette) {
  width: $width;
  height: 25px;
  background-color: $colorPalette;
>>>>>>> e6574e9a32b93d3cd35c2e5324b3b333ac535f92
}
