$color-grey-mouse: #f5f5f5;
$color-green-fish: #a2deaf;
$color-green-camaleon: #114e4e;
$color-white-horse: #fff;
$color-orange-monkey: #e17334;
$color-grey-gorilla: #54585a;
$color-green-sirena: #438792;
$color-grey-cat: #6b6b6b;
