// * {
//   border: 1px solid red;
// }

.design {
  border: none;
  margin: 0;
  padding: 30px 20px;
  border-bottom: 1px solid $color-line;
}

.design-legend {
  padding: 0;
}

.design-title {
  align-items: center;
  @include flexBetween();
}

.div-colors {
  align-items: center;
  padding-top: 28px;
  padding-bottom: 33px;
  @include flexBetween();
}

.pallete {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.check-radio {
  margin: 0;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.box-palette1-color2::before {
  content: '';
  @include boxPalette(30px, $color-palette-11);
}

.box-palette1-color2 {
  @include boxPalette(90px, $color-palette-12);
  @include flexBetween();
}

.box-palette1-color2::after {
  content: '';
  @include boxPalette(30px, $color-palette-13);
}

.box-palette2-color2::before {
  content: '';
  @include boxPalette(30px, $color-palette-21);
}

.box-palette2-color2 {
  @include boxPalette(90px, $color-palette-22);
  @include flexBetween();
}

.box-palette2-color2::after {
  content: '';
  @include boxPalette(30px, $color-palette-23);
}

.box-palette3-color2::before {
  content: '';
  @include boxPalette(30px, $color-palette-31);
}

.box-palette3-color2 {
  @include boxPalette(90px, $color-palette-32);
  @include flexBetween();
}

.box-palette3-color2::after {
  content: '';
  @include boxPalette(30px, $color-palette-33);
}

.div-fonts {
  align-items: center;
  @include flexBetween();
}

.letter-type {
  width: 117px;
}

.type {
  padding: 7px 0;
}
