.footer {
  background-color: $background-terciary;
  color: $color-grey-cat;
  border-top: 1px solid $color-grey-cat;
  @include flex();
}
.credit{
  font-family: $font-family-primary;
  font-size: $font-size-deci;
  color: $color-grey-cat;
  margin-top: 20px;
}

.logoAdalab {
  width: 103px;
  height: 40px;
  margin: 10px auto 20px auto;
}
