// * {
//   border: 1px solid red;
// }

body {
  margin: 0;
}

.skills-hidden {
  display: none;
}

.plus {
  display: flex;
}

.js-collapsible-content {
  display: none;
}

.js-collapsible-visible {
  .js-collapsible-content {
    display: block;
  }
}

.js-visible {
  display: block;
}
