* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;

}

.cover {
  background-color: $background-primary;
  text-align: center;
  @include flex();
  position: relative;

}

.cover-header {
  width: 250px;
  height: 64px;
  background-image: url("../../images/logo-awesome-profile-cards.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 94px auto 14px auto;
}

.cover-main {
    @include flex();
}
.cover-main__text {
  text-align: center;
  position: relative;
}
.cover-main__text--title {
  font-family: $font-family-secondary;
  font-size: $font-size-kilo;
  font-weight: 900;
}

<<<<<<< HEAD
.cover-main__text--p {
  width: 265px;
  font-family: $font-family-open;
  font-size: $font-size2-centi;
  color: $color-primary;
  font-weight: 400;
  margin: 4px auto 14px auto;
}

.cover-main__list {
  width: 268px;
  height: 74px;
  text-decoration: none;
  list-style: none;
  border: 1.6px solid $color-orange-monkey-border;
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto 40px auto;
}

.cover-main__list--design {
    @include icontext();
    @include flex();


}
.cover-main__list--fill{
    @include icontext();
    @include flex();

}
.cover-main__list--share{
    @include icontext();
    @include flex();
}

.far, .fas{
  color: $color-secondary;
  font-size: $font-size-mega;
}
.btn-chubby {
  display: block;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  background-color: $color-green-sirena;
  border: solid 1px $color-grey-babygorilla;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white-horse;
  text-align: center;
  line-height: 42px;
  margin: 0 auto 30px auto;
}
=======
// .cover{
//   background-color:
// }
//
//
// .footer{
//   background-color:
// }
>>>>>>> e6574e9a32b93d3cd35c2e5324b3b333ac535f92
