
.cardGenerator__image {
  height: 51px;
  width: 201px;
  background-image: url("../images/Awesome-profile-cards.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto 30px 40px;
}
