.cardGenerator__main {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.section-collapsible {
  @media all and (min-width: 768px) {
    min-width: 399px;
  }
}
