.icon-title {
  color: $color-orange-monkey;
}

.section-collapsible__fill {
  border: none;
}

.section-collapsible__fill--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fill-legend {
  text-transform: uppercase;
  color: $color-grey-gorilla;
}

.icon-down {
  margin-left: auto;
  color: $color-grey-gorilla;
  width: 16px;
  height: 18px;
  font-size: $font-size-hecta;
}

.fill-input {
  font-size: $font-size-deci;
  font-family: $font-family-open;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fill-input__image {
  color: $color-white-horse;
  display: inline-block;
  background-color: $color-orange-monkey;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 140px;
}

.square__white {
  width: 30px;
  height: 30px;
  border: 1px solid $color-green-fish;
  margin-left: 20px;
}

.fill-input__image__square {
  display: flex;
  flex-direction: row;
}

.fill-input__placeholder {
  border: 1px solid $color-green-fish;
}

.button-abilities__menos {
  font-size: $font-size-hecta;
  color: $color-orange-monkey;
  background-color: transparent;
  border: 1px solid $color-orange-monkey;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.button-abilities__mas {
  font-size: $font-size-hecta;
  color: $color-orange-monkey;
  background-color: transparent;
  border: 1px solid $color-orange-monkey;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.select-first {
  margin-top: 5px;
  margin-bottom: 21px;
  background: none;
  border: 1px solid $color-green-fish;
  border-radius: 4px;
  width: 165px;
  height: 30px;
}

.select-second {
  background: none;
  border: 1px solid $color-green-fish;
  border-radius: 4px;
  width: 165px;
  height: 30px;
}
