.cover-main__text--title {
  color: $color-secondary;
  font-family: $font-family-secondary;
  font-size: $font-size-kilo;
}

.cover-main__text--p {
  color: $color-primary;
  font-family: $font-family-primary;
  font-size: $font-size2-centi;
}

.cover-main__list {
  color: $color-grey-gorilla;
  font-family: $font-family-primary;
  font-size: $font-size3-deca;
}
